<%-include('include/_about-us_header')%>


<main class="container">
    <h1 class="main-title">CLINIC SERVICES</h1>
    <p class="main-info">To maintain dental health we provide a range of services for our patients</p> 
    <div class="grid-container">
        <article class="grid-item">
            <div class="row">
                <h2 class="service-name">Dental Care</h2>
            </div>
            <div class="row">
                <img src="/img/image 11.png">
                <p class="info">Dentures must be cared for so that bacteria and plaque do not accumulate and cause oral health problems.</p>
            </div>
        </article>
        <article class="grid-item">
            <div class="row">
                <h2 class="service-name">Dental Implant</h2>
            </div>
            <div class="row">
                <img src="/img/image 12.png">
                <p class="info">Artificial tooth roots shaped like bolts that are implantedin the patient’s jaw to replace the missing tooth roots.</p>
            </div>
        </article>
        <article class="grid-item">
            <div class="row">
                <h2 class="service-name">General Dentistry</h2>
            </div>
            <div class="row">
                <img src="/img/image 13.png">
                <p class="info">The role of the general dentist is very important to ensure safe and effective dental and oral care.</p>
            </div>
        </article>
        <article class="grid-item">
            <div class="row">
                <h2 class="service-name">Cosmetic Braces</h2>
            </div>
            <div class="row">
                <img src="/img/image 14.png">
                <p class="info">Braces are dental tools that help correct problems with your teeth, like crowding, crooked teeth, or teeth that are out of alignment.</p>
            </div>
        </article>
        <article class="grid-item">
            <div class="row">
                <h2 class="service-name">Extractions</h2>
            </div>
            <div class="row">
                <img src="/img/image 15.png">
                <p class="info">Teeth that are severely damaged by decay or injury and can no longer be repaired through corrective action.</p>
            </div>
        </article>
        <article class="grid-item">
            <div class="row">
                <h2 class="service-name">Restorative Dentistry</h2>
            </div>
            <div class="row">
                <img src="/img/image 16.png">
                <p class="info">The result of dental procedures that aim to restore the shape, function, and appearance of the teeth.</p>
            </div>
        </article>
    </div>   
</main>



<%-include('include/_footer')%>