
<!-- include header -->
<%-include('include/_header')%>
<!-- include header -->
    <!-- Main Site --> 
    <main id="site-main">
            <div class="box-nav d-flex justify-between">
                <div class="filter">
                <a href="/employee"><i class="fas fa-angle-double-left"></i>Back</a>
            </div>
        </div>
        <div class="container">
            <div class="form-title">
                <h1 class="text-style text-uppercase text-center">Employee Profile</h1>
            </div>
            <div class="container_new-employee">
                    <!-- Add employee form-->
                    <%-include('include/_form')%>
      
            </div>
        </div>
       </main>
        
        <!-- Main Site --> 
    


<!-- include footer -->
<%-include('include/_footer')%>
<!-- include footer --> 