<!-- include header -->
<%-include('include/_header')%>
<!-- include header -->

 <!-- Main Site --> 
 <main id="site-main">
    <div class="appointmentRequest-container">
        <div class="table-appointmentRequest-header">
            <h3 class="text-center text-white text-normal">Appointment Request</h3>
        </div>
        <form action="/" method="POST">
            <table id="add-appointmentRequest">
                <thead class="">
                    <tr>
                        <th>No.</th>
                        <th>Full name</th>
                        <th>Email Address</th>
                        <th>Phone Number</th>
                        <th>Date</th>
                        <th>Time</th>
                        <th>Procedure</th>  
                        <th>Confirmation</th>
                    </tr>
                </thead>
                    <tbody id="myTable">
                      <%-include('include/_usershow')%>
                    </tbody>
            </table>
        </form>
    </div>
   
   </main>

<!-- Main Site --> 

<!-- include footer -->
<%-include('include/_footer-admin')%>
<!-- include footer --> 