

<%-include('include/_homeHeader')%>


<div class="bodyPage">
    <div class="left-body">
        <h3 class="companyName">TOOTHFULLY YOURS</h3>
        <h1 class="intro1">We're open and <br> welcoming <br> patients.</h1>
        <h3 class="intro2">We have implemented a number of safety measures
            to <br> ensure not only dental health but also the safety
            of both <br> our patients and team.
        </h3>
        <div class="location">
            <img class="icon-location" src="/img/location-icon.png">
            <a href="">Sampaguita St., Mintal 8000, Davao City, Philippines</a>
        </div>
        
        
    </div>
    <div class="right-body">
        <div class="image-container">
            <img src="/img/landing-img.png"> 
        </div>
        
    </div>

    </div>
</div>
</div>

<%-include('include/_footer')%>