
<!-- include header -->
<%-include('include/_login-header')%>
<!-- include header -->
    <!-- Main Site --> 

   <div class="back-container">
    <a href="/">
    <img class="back" src="/img/backicon.png">
    <img  class="home" src="/img/home.png">
    </a>
   </div>
        <div class="sign-in-container">
            <div class="sign-in-header">
                <h3 class="text">TOOTHFULLY YOURS</h3>
                <P class="text">Dental Clinic</P>
            </div>

            <div class="sign-in-body">
                <%-include('include/_messages')%>
                <div class="row1">
                    <h3>Sign In</h3>
                    <div class="social-media-icons">
                        <a href="https://www.facebook.com/toothfullyyoursdentalcare"><img class="facebook" src="/img/facebook-icon.png"></a>
                        <img class="twitter" src="/img/twitter-icon.png">
                    </div>
                </div>
                <form action="/login" method="POST">
                    <input type="text" name="email"  placeholder="Email">
                    <input type="password" name="password" placeholder="Password">
                    <button type="submit">Login</button>
                </form>
                <div class="row4">
                    <div class="remember-me">
                        <input class="check" type="checkbox" >
                        <p>Remember me</p>
                    </div>
                    <p class="forgotPass">Forgot Password</p>
                </div>

                <div class="row6">
                    <p>or</p>
                    <button type="button">
                        <img src="/img/google-icon.png"> 
                        Sign in with Google
                    </button>
                </div>
                <div class="row5">
                    <p> Not a member? <a href="/register">Sign up</a></p>
                </div>
            </div>

        </div>
    </div>

    <!-- Main Site --> 
    
<!-- include footer -->
<%-include('include/_footer')%>
<!-- include footer --> 