<!DOCTYPE html>

<html lang="en">

<head>
  <title>Dental Services & Revenue - Toothfully Yours</title>
  <meta charset="windows-1252">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="revenue.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.2/css/all.min.css" integrity="sha512-1sCRPdkRXhBV2PBLUdRb4tMg1w2YPf37qatUFeS7zlBy7jJI8Lf4VHwWfZZfpXtYSLy85pkm9GaYVYMfw5BC1A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Figtree:wght@700&family=Roboto:wght@300;500&display=swap" rel="stylesheet">
</head>

<body>

  <header>
    <nav>
      <ul>
        <li><a href="">Requests</a></li>
        <li><a href="">Appointment <i class="fa-solid fa-caret-down"></i> </a></li>
        <li><a href="">Patient <i class="fa-solid fa-caret-down "></i></a></li>
        <li><a href="">Employee</a></li>
      </ul>
    </nav>
    <nav>
      <ul>
        <li><a href="">Inventory</a></li>
        <li><a href="">Finance</a></li>
        <li><button class="logout-btn">Logout</button></li>
      </ul>
    </nav>
  </header>

  <div class="revenue-title">
    <h1 class="text-style text-uppercase text-center">Dental Services & Revenue</h1>
  </div>

  <table class="revenue-table" id="table" border="1">
    <thead>
      <tr>
        <th>Treatment Type</th>
        <th>NUMBER OF TRANSACTIONS</th>
        <th> TOTAL AMOUNT</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Consultation</td>
        <td>B1</td>
        <td>43</td>

      </tr>
      <tr>
        <td>Filling and Repairs</td>
        <td>B2</td>
        <td>28</td>
      </tr>
      <tr>
        <td>Teeth Hygiene</td>
        <td>B3</td>
        <td>15</td>
      </tr>
      <tr>
        <td>Fixed Bridge</td>
        <td>B4</td>
        <td>50</td>
      </tr>
      <tr>
        <td>Dental Implant</td>
        <td>B5</td>
        <td>31</td>
      </tr>
      <tr>
        <td>Tooth Extraction</td>
        <td>B6</td>
        <td>85</td>
      </tr>
      <tr>
        <td>Dental Crown</td>
        <td>B7</td>
        <td>18</td>
      </tr>
      <tr>
        <td>Root Canal</td>
        <td>B7</td>
        <td>18</td>
      </tr>
      <tr>
        <td>X-ray</td>
        <td>B7</td>
        <td>18</td>
      </tr>
      <tr>
        <td>Teeth Whitening</td>
        <td>B7</td>
        <td>18</td>
      </tr>
      <tr>
        <td>Orthodontics</td>
        <td>B7</td>
        <td>18</td>
      </tr>
      <tr>
        <td>TOTAL</td>
        <td></td>
        <td> <span class="total-revenue" id="val"> </span> </td>
      </tr>
    </tbody>
  </table>

  <script src="/revenue.js">
</script>

<script src="/revenue.js">
</script>
</body>

</html>