@import url('https://fonts.googleapis.com/css2?family=Figtree:wght@700&family=Roboto:wght@300;500&display=swap');
:root{
    --navbg: #1EBEB6;
    --bodybg: #E0F9F8;
    --containerbg: #fff;
    --color: #00A39A;
    --search-barbg: #C2F4F2;
    --gray: #ACAFBA;
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
   


}

body{
    background-color: var(--bodybg);
}

a{
    text-decoration: none;
    font-family: 'PT Sans', sans-serif;
}

/* Typography */

.text-center{
    text-align: center;
}

.text-start{
    text-align: start;
}

.text-style{
    font-family: 'Figtree', sans-serif;
    color: var(--color);
}

.text-uppercase{
    text-transform: uppercase;

}

.text-light{
    color: var(--color);
}

.text-gradient{
    color: var(--color);
    
    
}

.text-gradient i{
    font-size: 25px;
    
}
.text-gradient i:hover{
    color: rgba(0, 163, 154, 0.6);
}



.delete{
    cursor: pointer;
}


.pd-1{
    padding: 0.2rem;

}

.pd-2{
    padding-right: 1rem;
    padding-bottom: 1rem;
}

/*Scrollbar*/


::-webkit-scrollbar {
    width: 15px;
  }

::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px var(--gray); 
    background-color: var(--search-barbg  );
    border-radius: 10px;
  }
 
::-webkit-scrollbar-thumb {
    background: var(--navbg);
    border-radius: 10px;



}



/* Header */
.container{
    max-width: 70%;
    margin: 0 auto;
   

}


header{
    background-color: var(--navbg);
    font-size: 1.2rem;
    font-weight: 400;
    padding: 2rem 0;
    display: flex;
    align-items: center;
    justify-content: space-between;

}

/* Navigation */


nav{
    padding: 0 2rem;
}

nav ul{
    display: flex;
    list-style: none;
    justify-content: center;
    align-items: center;

}

nav ul li{
    margin: 0 0.7rem;
    text-align: center;
    
}


nav ul li a{
    font-weight: 700;
    color: var(--containerbg);
    text-decoration: none;
   
}

nav ul li a::after{
    content: "";
    display: block;
    /* margin: auto;  // It will start at mid*/ 
    margin-top: 0.25rem;
    height: 3px;
    width: 0px;
    background: transparent;
    transition: width 0.5s ease, background-color .5s ease;
}

nav ul li a:hover:after{
    width: 100%;
    background: var(--containerbg   );
}


.logout-btn{
    font-size: 1.2rem;
    font-weight: 500;
    padding: 0.5rem 3.5rem;
    border-radius: 10px;
    border: 2px solid var(--navbg);
    background-color: var(--containerbg);
    color: var(--navbg);
    cursor: pointer;
}

.logout-btn:hover{
    border: 2px solid var(--containerbg);
    background-color: var(--navbg);
    color: var(--containerbg);
    cursor: pointer;
}

@media only screen and (max-width: 940px){
    header{
        flex-direction: column;
    }

    nav ul{
   
        flex-direction: column;
    }
    
    nav ul li{
   
        margin: 2rem 0;
    }
    
    header{
        border-bottom-right-radius: 4rem ;
    }
}



/* ADD APPOINTMENT */

.box-nav{
    margin-top: 2rem;
    margin-left: 1rem;

}

.d-flex{
    display: flex;
}

.justify-between{
    justify-content: space-between;
}
.mb-1{
    margin-bottom: 1rem;
}

.mr-1{
    margin-right: 0.5rem;
}

.filter a{
    display: flex;
    color: var(--color);
}


.add{
    display: flex;
    flex-direction: column;
    width: 100%;
    position: relative;
  
}

.container_new-appointment{
    width: 100%;
}
.form-title{
    margin-bottom: 1rem;
}

/* Form New Appointment*/

.form-container{
    border-radius: 25px;
    border: none;
    padding: 2rem;
    width: 100%;
    background-color: var(--containerbg);
   
}

.new_appointment{
   display: flex;
   flex-direction: column;
}

.col-two{
    display: grid;
    grid-template-columns: 1fr 2fr;
}

.col-three{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}


.form-group{
    display: flex;
    margin: 0 1rem;
    flex-direction: column;
    
}
.form-group input[type=number], .form-group input[type=text],
.form-group input[type=time], .form-group input[type=date] {
    border: 1px solid var(--navbg);
    padding: .45rem;
    border-radius: 10px;
    margin: 0.75rem 0;
    color: var(--color);
    outline: none;

}

input[type=number].no-border{
    border: none;
}

button[type=submit] {
    width: 200px;
    padding: 0.75rem;
    background-color: var(--color);
    color: var(--containerbg);
    border: none;
    border-radius: 10px;
    margin-top: 1rem;
    cursor: pointer;

}

button[type=submit]:hover {

    background-color: rgba(0, 163, 150, 0.7);
   
}

.jc-end{
    justify-content: flex-end;
}

.al-end{
    align-items: flex-end;
}




.al-center{
    align-items: center;
}


/* Search Bar */
.search-bar{
    border: none;
    background-color: transparent;
    padding: 0.5rem 0.5rem;

}

input[type=text].search-bar::-webkit-input-placeholder{
    color: var(--gray);
    font-weight: 300;
 
}
input[type=text].search-bar{
    color: var(--color);
    outline: none;
}

/* Input Icons */
.input-icon i {
    position: absolute;
}

.input-icon{
    width: 220px;
    background-color: var(--search-barbg);
    border-radius: 10px;
    padding: 0 .3rem;
}
.icon {
    padding: 8px;
    color: var(--color);
    min-width: 40px;
    text-align: center;
    transform: rotate(90deg);
    cursor: pointer;
}

/*add button*/


.add-app-btn{
    padding: 0.6rem;
    border: 1px solid var(--containerbg);
    background-color: var(--color);
    cursor: pointer;
    border-radius: 15px;
    
}

.add-app-btn:hover{
    background-color: rgba(0, 163, 154, 0.6);

}

.add-app-btn a{
    color: var(--containerbg);
}
.add-app-btn a i {
    font-size: 18px;
}

/*Table*/
.table-container{
   position: relative;
   width: 100%;
}

.fixed_header{
    table-layout: fixed;
    border-collapse: collapse;
    width: 100%;
}
    
.fixed_header thead tr {
    display: block;
 }


.fixed_header tbody{
  display:block;
  position: relative;
  overflow: auto;
  height: 60vh;
  background-color: var(--containerbg);
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  width: 100%;
  padding-top: 0.3rem;
  /* box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px; */
}

.fixed_header th, .fixed_header td{
    font-weight: 400;
    text-align: center;
    width: 100px;


}

#add-appointment th{
    color: var(--gray);
    padding: 0.7rem 0;
 
}

#add-appointment td{
    color: var(--color);
    padding: 0.8rem 0;
  
}
#add-appointment tbody tr:hover{
    background-color: var(--search-barbg);
}

#add-appointment th:nth-child(3), 
#add-appointment td:nth-child(3){
    width: 25%;
}

#add-appointment th:nth-child(6), 
#add-appointment td:nth-child(6){
    width: 14.5%;
}

#add-appointment th:nth-child(7), 
#add-appointment td:nth-child(7){
    width: 14.5%;
}


.white-container{
    background-color: white;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;

}





