<!-- form handling-->
<form action="/api/items" method="POST" id="add_item">
    <div class="new_item">
        <div class="form-group">
            <label for="itemname" class="text-light">Item/Description</label>
            <input type="hidden" name="id" value="">
            <input type="text" name="itemname" value="" required>
        </div>
        <div class="form-group">
            <label for="room" class="text-light">Room/Area</label>
            <input type="text" name="room" value="" required>
        </div>
        <div class="form-group">
            <label for="model" class="text-light">Make/Model</label>
            <input type="text" name="model" value="" required>
        </div>
        <div class="form-group">
            <label for="serialnumber" class="text-light">Serial Number/ID</label>
            <input type="text" name="serialnumber" value="" required>
        </div>
        <div class="form-group">
            <label for="place" class="text-light">Place of Purchase</label>
            <input type="text" name="place" value="" required>
        </div>
        <div class="form-group">
            <label for="date" class="text-light">Date Purchased</label>
            <input type="date" name="date" value="" required>
        </div>
        <div class="form-group">
            <label for="quantity" class="text-light">Quantity</label>
            <input type="text" name="quantity" value="" required>
        </div>
        <div class="form-group">
            <label for="price" class="text-light">Purchase Price</label>
            <input type="text" name="price" value="" placeholder="₱  00.00" required>
        </div>

        <div class="form-group">
            <button type="submit" class="btn text-dark update">Save</button>
        </div>

    </div> 
    
</form>