<div class="form-container">
    <form action="/api/employee" method="POST" id="add_employee">
        <div class="new_employee">
                <div class="form-header"> Employee Information </div>
                <div class="form-group">
                    <label for="e_name" class="text-light">Name:</label>
                    <input type="hidden" name="id" value="">
                    <input type="text" name="e_name" value="" required>
                </div>
                <div class="form-group">
                    <label for="e_birthdate" class="text-light">Birth Date:</label>
                    <input type="text" name="e_birthdate" value="" required>
                </div>
                <div class="form-group">
                    <label for="e_age" class="text-light">Age: </label>
                    <input type="number" class="no-border" name="e_age" required>
                </div>
    
                <div class="form-group">
                    <label for="e_gender" class="text-light">Gender: </label>
                    <div class="radio inline">
                        <input type="radio"  id="radio-2" name="e_gender" value="Male">
                        <label for="radio-2" class="radio-label">Male</label>
                    </div>
                    <div class="radio inline"> 
                        <input type="radio" id="radio-3" name="e_gender" value="Female">
                        <label for="radio-3" class="radio-label">Female</label>
                    </div>
                    
                </div>
                <div  class="form-group">
                    <label for="e_nationality" class="text-light">Nationality: </label>
                    <input type="text" name="e_nationality" value="" required>
                </div>
                <div  class="form-group">
                    <label for="e_address" class="text-light">Home Address:</label>
                    <input type="text" name="e_address" value="" required>
                </div>
                <div  class="form-group">
                    <label for="e_phoneNum" class="text-light">Phone Number:</label>
                    <input type="number" name="e_phoneNum" value="" required>
                </div>
                <div  class="form-group">
                    <label for="e_email" class="text-light">Email:</label>
                    <input type="email" name="e_email" value="" required>
                </div>
                <div  class="form-group">
                    <label for="e_emg_contactPerson1" class="text-light">EC1 Full Name:</label>
                    <input type="text" name="e_emg_contactPerson1" value="" required>
                </div>
                <div  class="form-group">
                    <label for="e_emg_contactPerson1_phoneNum" class="text-light">EC1 Contact Number:</label>
                    <input type="number" name="e_emg_contactPerson1_phoneNum" value="" required>
                </div>
                <div  class="form-group">
                    <label for="e_emg_contactPerson1_relationship" class="text-light">EC1 Relationship:</label>
                    <input type="text" name="e_emg_contactPerson1_relationship" value="" required>
                </div>
    
                <div  class="form-group">
                    <label for="e_emg_contactPerson2" class="text-light">EC2 Full Name:</label>
                    <input type="text" name="e_emg_contactPerson2" value="" required>
                </div>
                <div  class="form-group">
                    <label for="e_emg_contactPerson2_phoneNum" class="text-light">EC2 Contact Number:</label>
                    <input type="number" name="e_emg_contactPerson2_phoneNum" value="" required>
                </div>
    
                <div  class="form-group">
                    <label for="e_emg_contactPerson2_relationship" class="text-light">EC1 Relationship:</label>
                    <input type="text" name="e_emg_contactPerson2_relationship" value="" required>
                </div>
    
                <div class="form-header"> Employee Salary </div> 
                <div  class="form-group">
                    <label for="e_ID" class="text-light">Employee ID:</label>
                    <input type="text" id="e_ID" name="e_ID" value="" required>
                </div>
                <div  class="form-group">
                    <label for="e_position" class="text-light">Position:</label>
                    <input type="text" name="e_position" value="" required>
                </div>
                <div  class="form-group">
                    <label for="e_startDate" class="text-light">Start Date:</label>
                    <input type="text" name="e_startDate" value="" required>
                </div>
                <div  class="form-group">
                    <label for="e_regtime" class="text-light">Regular Time:</label>
                    <input type="number" name="e_regtime" value="" required>
                </div>
                <div  class="form-group">
                    <label for="e_overtime" class="text-light">Overtime(hr):</label>
                    <input type="number" name="e_overtime" value="" required>
                </div>
                <div  class="form-group">
                    <label for="e_bonus" class="text-light">Bonus:</label>
                    <input type="text" name="e_bonus" value="" required>
                </div>
                <div  class="form-group">
                    <label for="e_philhealth" class="text-light">Phil-Health:</label>
                    <input type="text" name="e_philhealth" value="" required>
                </div>
                <div  class="form-group">
                    <label for="e_SSS" class="text-light">SSS:</label>
                    <input type="text" name="e_SSS" value="" required>
                </div>
                <div  class="form-group">
                    <label for="e_pagibig" class="text-light">Pag-ibig:</label>
                    <input type="text" name="e_pagibig" value="" required>
                </div>
                <div  class="form-group">
                    <label for="e_insurance" class="text-light">Insurance:</label>
                    <input type="text" name="e_insurance" value="" required>
                </div>
                <div  class="form-group">
                    <label for="e_totsalary" class="text-light">Total Salary:</label>
                    <input type="text" name="e_totsalary" value="" required>
                </div>
                <div  class="form-group">
                    <label for="e_totdeduction" class="text-light">Total Deduction:</label>
                    <input type="text" name="e_totdeduction" value="" required>
                </div>
                <div  class="form-group">
                    <label for="e_totamount" class="text-light">Total Amount:</label>
                    <input type="text" id="e_totamount" name="e_totamount" value="" required>
                </div>
                <div  class="form-group">
                    <label for="e_dategiven" class="text-light">Date Given:</label>
                    <input type="text" name="e_dategiven" value="" required>
                </div>
    
                
                
                
            </div>
    
            <div class="form-group-button">
                <button type="submit" class="btn text-style text-uppercase add">SUBMIT</button>
            </div>  
    </form>
    </div>