<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TOOTHFULLY YOURS</title>
    <link rel="stylesheet" href="css/landing-account.css">
</head>
<body>
    <div class="container">
        <nav>
            <div class="right-nav">
                <ul>
                    <li><a href="/add-appointmentRequest">Home</a></li>
                    <li><a href="/aboutUs">About Us</a></li>
                    <li><a href="/myprofile">My Profile</a></li>
                    
                </ul>
            </div>

            <div class="left-nav">
                <div class="big">
                    <img class="small" src="/img/edit 1.png">
                    <%=p_username%>
                </div>
                <a href="/logout">
                <button type="button" class="logoutBtn"> Logout</button>
                </a>
            </div>
        </nav>
